<!-- bundle Section -->
    <section id="bundle">
        <div class="container" style="margin-bottom: -70px;">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#" data-toggle="modal" data-target="#contactmodal">
                        <img src="{{ site.baseurl }}/img/images/ipad-ebook--1-.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
    
                <div class="row text-center">
                    <div class="col-md-6 text-center" style="margin-top: 10%;">
                        <h2 class="section-heading">FREE 7 STEP PLAN</h2>
                        <p class="text-muted">Get Our Simple (Yet Effective) Plan To Start Getting Results From Social Media And Content Marketing.</p>
                        <a href="#" class="page-scroll btn btn-xl" data-toggle="modal" data-target="#contactmodal">Give It To Me!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>