<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="nav navbar-brand page-scroll navbar-nav navbar-left" href="#page-top">
                <a class="fa fa-lightbulb-o navbar-brand page-scroll neon-text" href="#" data-toggle="modal" data-target="#contactmodal" style="text-shadow: 1px 1px 2px black">
                </a>
            </div>

            <!-- <a class="navbar-brand page-scroll" href="#page-top" style="text-shadow: 1px 1px 2px black">
                {{site.title}}
            </a> -->

            <a class="navbar-brand page-scroll" href="#page-top" style="text-shadow: 1px 1px 2px black">
                <img 
                width="contain" 
                height="30"
                src="img/D79-Marketing-H-BoT-w.png"  
                alt="D79 Logo">                    
                 </img>
            </a>

        </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                         <a href="tel:6417997671"><div><i class="fa fa-phone neon-text"></i> 641.799.7671</div></a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#"  data-toggle="modal" data-target="#contactmodal"><i class="fa fa-envelope-o neon-text"></i> info@d79marketing.com</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text contain">
                <!-- <div class="intro-lead-in">Digital Marketing & Graphic Design</div> -->
                <!-- <div class="intro-heading">Empowering businesses through strategic digital marketing solutions.</div> -->

                <div class="intro-lead-in">
                    </br></br>IT'S TIME TO END THE STRUGGLE...
                </div>

                <div class="">
                    <h1 class="" style="text-align: center; font-size: 58px; color: rgb(29, 174, 236);" data-bold="inherit" data-gramm="false" contenteditable="false">
                    <b>Finally... Social Media &amp; Content Marketing That Produces Real Results</b>
                </div>
                <div class="intro-lead-in" style="font-size: 32px;">
                    Learn How Our Unique Process Can Help You Increase Leads & Sales
                </div>

                <div>
                    <!-- <a class="page-scroll" href="#" data-toggle="modal" data-target="#contactmodal" style="text-shadow: 1px 1px 2px black">
                        <img src="img/images/video-thumbnail.png" class="img-responsive img-centered" alt=""; width="75%"></img>
                    </a> -->

                    <!-- <video controls autoplay poster="img/images/video-thumbnail.png" width="730px">
                        <source src="video/Social-and-Content-Accelerator.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> -->

                    <video controls class = 'video' width = '730'>
                        <source src="{{ site.baseurl }}/video/Social-and-Content-Accelerator.mp4" type="video/mp4" />
                        <img src="{{ site.baseurl }}/img/images/video-thumbnail.png" alt="">
                    </video> 
                      
                      

                    <!-- <div>
                        <video autoplay src="/video/Social-and-Content-Accelerator.mp4" controls="controls" style="max-width: 730px;"></video>"
                    </div> -->

                    <!-- <iframe 
                        width="730" height="411" 
                        src="https://www.youtube.com/embed/-ARJFxpWemY?si=ZRyHqHlJADH494BW?autoplay=1" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; encrypted-media; gyroscope;" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen>
                    </iframe> -->

                </div>

                <div class="intro-lead-in">Digital Marketing & Graphic Design</div>
                <div class="intro-lead-in">Empowering Businesses Through Strategic Digital Marketing Solutions.</div>
                <a href="#" class="buttonmodal btn btn-xl" data-toggle="modal" data-target="#contactmodal">I'm Ready for Results!</a>
            </div>    
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

