<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text contain">
            <!-- <div class="intro-lead-in">Digital Marketing & Graphic Design</div> -->
            <!-- <div class="intro-heading">Empowering businesses through strategic digital marketing solutions.</div> -->


            <div class="intro-heading parent" 
                style=
                    "background-image: linear-gradient(45deg, rgba(0, 16, 105, 0.596) -52%, rgba(13, 13, 13,.5) 81%, rgba(74, 4, 121, 0.5) 95%);
                    background-color:rgba(0, 0, 0, 0.493);
                    border-radius: 10%; 
                    object-fit: scale-down;
                    max-width: 100%;" 
                >

                <img class="svg-two" width="contain" height="300"
                    width=300px src="img/D79-Marketing-Large-Logo-w.svg"  
                    border-radius: 10%;
                    object-fit: contain;
                    alt="D79  Logo">                    
                </svg>
                
                <svg class="svg-one" width="contain" height="300">
                    <circle cx="170" cy="170" r="160" stroke="#E2007C"/>
                    <circle cx="170" cy="170" r="135" stroke="#404041"/>
                    <circle cx="170" cy="170" r="110" stroke="#E2007C"/>
                    <circle cx="170" cy="170" r="85" stroke="#404041"/>
                </svg>

            </div>




            <div class="intro-lead-in">Digital Marketing & Graphic Design</div>
            <div class="intro-lead-in">Empowering businesses through strategic digital marketing solutions.</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>
<!--
    {% for page in site.pages %}
        {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
    {% endfor %}
-->

