  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" 
    id="contactmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width:fit-content">
        <div class="modal-body">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
            <section id="contact" style="background-color: #1491da; border-radius: 20px;">
                <div class="container"  style="width: auto; padding-right: 40px;" >
                  <h1 class="section-subheading" style="color: white;">You're One Step Away From Instant Access!</h1>
                    <div class="row">
                      <div class="col-md-12 text-right" style="padding-right: 85px">
                          <h4 class="section-heading">Claim your starter kit now...</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <img src="{{ site.baseurl }}/img/images/bundle-social.png" class="img-responsive img-centered" style="max-width: 400px;"></img>
  
                          <div class="listimg">
                            <ul class="" style="color: rgb(255, 255, 255);  list-style-type: none;">
                                <li style="font-size: 20px;"><span><img src="{{ site.baseurl }}/img/images/check-MINI.png"></img> 7 Step Plan Download</span></li>
                                <li style="font-size: 20px;"><span><img src="{{ site.baseurl }}/img/images/check-MINI.png"></img> "How It Works" Video</b></span></li>
                                <li style="font-size: 20px;"><span><img src="{{ site.baseurl }}/img/images/check-MINI.png"></img> Free Strategy Session</b></span></li>
                            </ul>
                          </div>
                        </div> 

                        <div class="col-md-6">
                            <!-- <form name="sentMessage" id="contactForm" novalidate>
                                <div class="row" style="padding-left: 20px;">

                                        <div class="control-group form-group" >
                                            <input type="text" class="form-control" style="border-radius: 10px;" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="control-group form-group">
                                            <input type="email" class="form-control" style="border-radius: 10px;" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="control-group form-group">
                                            <input type="tel" class="form-control"  style="border-radius: 10px;" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 text-center">
                                        <div id="success"></div>
                                        <button type="submit" class="btn btn-xl">LET'S DO IT!</button>
                                        <p  style="color: white;" >100% Free. No Credit Card Needed.
                                        </p>
                                    </div>
                            </form> -->



                            <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mbjnpqyn" method="post">
                              <fieldset id="fs-frm-inputs">
                                <label for="full-name">Full Name</label>
                                <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
                                <label for="email-address">Email Address</label>
                                <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
                                <label for="message">Message</label>
                                <textarea rows="5" name="message" id="message" placeholder="I'd like the free 7 step plan... " required=""></textarea>
                                <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                              </fieldset>
                              <input type="submit" value="Submit">
                            </form><style>/* reset */
                            #fs-frm input,
                            #fs-frm select,
                            #fs-frm textarea,
                            #fs-frm fieldset,
                            #fs-frm optgroup,
                            #fs-frm label,
                            #fs-frm #card-element:disabled {
                              font-family: inherit;
                              font-size: 100%;
                              color: inherit;
                              border: none;
                              border-radius: 0;
                              display: block;
                              width: 100%;
                              padding: 0;
                              margin: 0;
                              -webkit-appearance: none;
                              -moz-appearance: none;
                            }
                            #fs-frm label,
                            #fs-frm legend,
                            #fs-frm ::placeholder {
                              font-size: 1.5rem;
                              margin-bottom: .5rem;
                              padding-top: .2rem;
                              display: flex;
                              align-items: baseline;
                            }
                            
                            /* border, padding, margin, width */
                            #fs-frm input,
                            #fs-frm select,
                            #fs-frm textarea,
                            #fs-frm #card-element {
                              border: 1px solid rgba(0,0,0,0.2);
                              background-color: rgba(255,255,255,0.9);
                              padding: .75em 1rem;
                              margin-bottom: 1.5rem;
                            }
                            #fs-frm input:focus,
                            #fs-frm select:focus,
                            #fs-frm textarea:focus {
                              background-color: white;
                              outline-style: solid;
                              outline-width: thin;
                              outline-color: gray;
                              outline-offset: -1px;
                            }
                            #fs-frm [type="text"],
                            #fs-frm [type="email"] {
                              width: 100%;
                            }
                            #fs-frm [type="button"],
                            #fs-frm [type="submit"],
                            #fs-frm [type="reset"] {
                              width: auto;
                              cursor: pointer;
                              -webkit-appearance: button;
                              -moz-appearance: button;
                              appearance: button;
                            }
                            #fs-frm [type="button"]:focus,
                            #fs-frm [type="submit"]:focus,
                            #fs-frm [type="reset"]:focus {
                              outline: none;
                            }
                            #fs-frm [type="submit"],
                            #fs-frm [type="reset"] {
                              margin-bottom: 0;
                            }
                            #fs-frm select {
                              text-transform: none;
                            }
                            
                            #fs-frm [type="checkbox"] {
                              -webkit-appearance: checkbox;
                              -moz-appearance: checkbox;
                              appearance: checkbox;
                              display: inline-block;
                              width: auto;
                              margin: 0 .5em 0 0 !important;
                            }
                            
                            #fs-frm [type="radio"] {
                              -webkit-appearance: radio;
                              -moz-appearance: radio;
                              appearance: radio;
                            }
                            
                            /* address, locale */
                            #fs-frm fieldset.locale input[name="city"],
                            #fs-frm fieldset.locale select[name="state"],
                            #fs-frm fieldset.locale input[name="postal-code"] {
                              display: inline;
                            }
                            #fs-frm fieldset.locale input[name="city"] {
                              width: 52%;
                            }
                            #fs-frm fieldset.locale select[name="state"],
                            #fs-frm fieldset.locale input[name="postal-code"] {
                              width: 20%;
                            }
                            #fs-frm fieldset.locale input[name="city"],
                            #fs-frm fieldset.locale select[name="state"] {
                              margin-right: 3%;
                            }
                            </style>

              
                          







                        </div>
                    </div>
                </div>
           </section>

        </div>

      </div>
    </div>
  </div>