<section id="ct">
    <section id="contact">
        <div class="container" style="margin-top: -10%; margin-bottom: -10%;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">WHAT ARE YOU WAITING FOR?</h4>
                    <h1 class="section-subheading" style="color: white;">FREE 30 MINUTE STRATEGY SESSION</h1>
                </br>
                    <h4 class="section-heading">Let Us Help Show You How Our Unique Process Can Be The Game-Changer You've Been Looking For.</h4>
                    <h4 class="section-heading">No Pressure Or Commitment.</h4>
                </br>
                </br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <a href="#" class="page-scroll btn btn-xl" data-toggle="modal" data-target="#contactmodal">I'm Ready for Results!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>