<section id="ct">
    <section id="contact">
        <div class="container" style="margin-top: -10%; margin-bottom: -10%;">
            <div class="row">

                <!-- bouncing arrows -->

                        <!-- <div class="col down-arrow">
                            <img src="{{ site.baseurl }}/img/images/arrows_left.png" class="img-responsive" alt="">
                        </div>

                        <div class="col down-arrow">bogus middle column
                        </div>

                        <div c class="col down-arrow">
                            <span class="pull-right">
                                <img src="{{ site.baseurl }}/img/images/arrows_right.png" class="img-responsive" alt="">
                            </span>
                        </div> -->

                <!-- end arrows -->

            <div class="row">
                <div class="col-md-12 text-center">
                    <h4 class="section-heading">WHAT ARE YOU WAITING FOR?</h4>
                    <h1 class="section-subheading" style="color: white;">BOOK YOUR FREE STRATEGY SESSION</h1>
                </br>
                    <h4 class="section-heading">
                        <!-- <div class="col-md-3"><img src="{{ site.baseurl }}/img/images/arrows_left.png" class="img-responsive img-centered" alt=""></div> -->
                        <div class="col-md-12">Let Us Help Show You How Our Unique Process Can Be The Game-Changer You've Been Looking For.
                        </br>
                        </br>
                            No Pressure Or Commitment.
                        </div>
                    </br></br></br>
                        <!-- <div class="col-md-3"><img src="{{ site.baseurl }}/img/images/arrows_right.png" class="img-responsive img-centered" alt=""></div> -->
                    </h4>
                </br>
                </br>
                </div>
            </div>
            <div class="row">

                        <div class="col-lg-12 text-center">

                            <!-- Calendly link widget begin -->
                            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                            <a href="" class="page-scroll btn btn-xl shine-on-hover" style="background-color: rgb(46, 46, 46);" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/d79marketing/30min'});return false;" > 
                                <i class="fa fa-calendar"></i> Schedule time with us!</a>
                            <!-- Calendly link widget end -->

                        </div>





            </div>
        </div>
    </section>
</section>